:root{
--major-padding:10px;
--minor-padding:5px;
--small-fontsize:2rem;
--border: 5px solid black ;
--border-radius:10px;
}

body{
 display: grid;
 background-color: rgb(255, 165, 0);
 grid-row: 1fr ;
 
}
img{
    height: 200px;
    width: 200px;
}
p{
    text-align: center;
    font-size: var(--small-fontsize) ;

}
legend{
    font-size: 3vw;
    text-transform: uppercase;
}
.nav{
border-radius: 5px;
 background-color: white;
}
.label{
    display: grid;
    grid-template-rows: repeat(1, 1fr 1fr);
    grid-template-columns: repeat(1, 1fr 5fr);
    row-gap: 5px;
}
.aboutus{
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 10px;
    margin: 20px;
background-color: white;
}
.contactus{
    max-width: 400px;
place-self: center;
border-radius: var(--border-radius);
border: var(--border);
padding: 10px;
margin: 10px;
}
form{
    display: grid;
    row-gap: 5px;

}
.garden{

    padding: var(--major-padding);
    margin-top: 10px;
display: flex;
place-self: center;
justify-content: space-between;
}
img{
    background-color: black;
    padding: var(--minor-padding);
    background-size: cover;
    
}
.vegetable{
    background-color: black;
    padding: var(--minor-padding);
    margin: 20px;
    color: white;
}
h1{
text-align: center;
text-transform: uppercase;
}
div{

}
ul{
display: flex;
justify-content: space-evenly;
}
li{
 font-size: var(--small-fontsize) ;
}
header{
font-size: 3vh;
}

span{
    color: lawngreen;
    text-shadow: 3px 1px 1px black;
    text-transform: capitalize;
}

























@media screen and (min-width:500px;) {
    /* do it tomorrow */
}